<h2>Search Authors</h2>
<!-- collect user input with form for the search -->
<form action="/authors" method="GET">
    <label>Name</label>
    <input type="text" name="name" value="<%= searchOptions.name %>">
    <button type="submit">Search</button>
</form>
<br>
<!-- display all of our authors -->
<% authors.forEach(author => { %>
    <div><%= author.name %></div>
    <a href="/authors/<%= author.id %>">View</a>
    <a href="/authors/<%= author.id %>/edit">Edit</a>
    <!-- use delete form from partials, pass it author's id for its url -->
    <%- include('../partials/deleteForm',
        { url: `/authors/${author.id}` }) %>
<% }) %>